@import '../../sharedStyles/index';

.container {
  margin: 6% 8% 8% 8%;
}

.intro, .daysContainer {
  margin: 1.5em 1.0em;
}

.daysContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
