@import './reset';
@import './breakpoints';

.nav {
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0px 5px 3px gray;
  -moz-box-shadow: 0px 5px 3px gray;
  box-shadow: 0px 5px 3px gray;
}

body {
  background-color: #DDC9B4;
}

.container {
  margin: 10%;
}

logo {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
}

.logo {
  padding: 1.0rem 0 1.0rem 1.0rem;
}

.heading-large {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 2.6rem;
  font-weight: bold;
}

.heading-small {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 1.3rem;
}

.body {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 1.0rem;
}

.orange{
  color: #F26430
}

.green{
  color: #009B72
}

dt, dd {
  display: inline;
  white-space: normal;
}


dt::after {
  content: " —";
}

.LivingStyleGuide {
  background-color: white;
}

.day {
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px grey;
  -moz-box-shadow: 2px 2px 10px grey;
  box-shadow: 2px 2px 10px grey ;

  width: 20%;

  @include breakpoint-for($mobile) {
    width: 80%;
  }

  @include breakpoint-for($tablet) {
    width: 35%;
  }

//- a day should be 1.4 times taller than it is wide
  height: calc(1.4 * attr(width px));
}

.day .heading-small {
  height: 64px;
  font-weight: bold;
  background-color: #009B72;
}

.day .body {
  font-style: italic;
  color: #77797D;
}

.intro, .days-container {
  margin: 1.5em 1.0em;
}
