@import './reset';
@import './breakpoints';

$charcoal_color: #2A2D34;
$grey_color: #77797D;
$taupe_color: #DDC9B4;
$green_color: #009B72;
$orange_color: #F26430;
$red_color: #D0021B;
$yellow_color: #F5BF23;
$blue_color: #4A90E2;


.charcoal {
  fill: $charcoal_color;
  color: $charcoal_color;
}

.grey {
  fill: $grey_color;
  color: $grey_color;
}

.orange {
  fill: $orange_color;
  color: $orange_color;
}

.green {
  fill: $green_color;
  color: $green_color;
}

.taupe {
  fill: $taupe_color;
  color: $taupe_color;
}

.red {
  fill: $red_color;
  color: $red_color;
}

.yellow {
  fill: $yellow_color;
  color: $yellow_color;
}

.blue {
  fill: $blue_color;
  color: $blue_color;
}

.nav {
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0px 5px 3px gray;
  -moz-box-shadow: 0px 5px 3px gray;
  box-shadow: 0px 5px 3px gray;
}

body {
  background-color: $taupe_color;
}

.bodyText {
  font-family: 'Roboto', sans-serif;
  line-height: 125%;
  font-size: 1.0rem;
  fill: $charcoal_color;
}

.container {
  margin: 6% 8% 8% 8%;
}

logo {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
}

.logo {
  padding: 1.0rem 0 1.0rem 1.0rem;
}

h1 {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 2.6rem;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 1.3rem;
}

.LivingStyleGuide {
  background-color: white;
}

.day {
  background-color: white;
  box-shadow: 2px 2px 10px grey ;
  border-radius: 4px;
  width: 30%;
  @include breakpoint-for($mobile) {
    width: 100%;
  }

  @include breakpoint-for($tablet) {
    width: 65%;
  }

//- a day should be 1.4 times taller than it is wide
  height: 60vh;
}

.day .green-background {
  padding: 5% 10% 5% 10%;
  border-radius: 4px 4px 0 0;
  color: white;
  background-color: $green_color;
}

.day .body {
  font-style: italic;
  color: $grey_color;
  margin: 10%;
}

.intro, .days-container {
  margin: 1.5em 1.0em;
}

.recipe-button{
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 1% 0 1% 0;
  padding: 10px;
  text-align: center;
  background-color: rgb(214,214,216);
  color: white;
  border-radius: 4px;
  width: 18%;
  display: block;
  border: none;
  font-size: medium;
}

.recipe-button:active{
  transform: translateY(3px);
}

//.recipe-button:disabled{
//  background-color: darkgray;
//}

