@import 'reset';
@import 'breakpoints';
@import 'colors';

body {
  background-color: $taupe_color;
}

h1 {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 2.6rem;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
  font-size: 1.3rem;
}

a{
  color:$blue_color;
  text-decoration:none;
}
